@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 204 100% 100%;
    --foreground: 204 5% 10%;
    --card: 204 50% 100%;
    --card-foreground: 204 5% 15%;
    --popover: 204 100% 100%;
    --popover-foreground: 204 100% 10%;
    --primary: 204 87.6% 52.7%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 13% 91%;
    --secondary-foreground: 0 0% 0%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 204 5% 40%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 204 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 204 5% 100%;
    --border: 204 30% 82%;
    --input: 204 30% 82%;
    --ring: 204 87.6% 52.7%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 208 36% 12%;
    --foreground: 204 5% 100%;
    --card: 208 36% 12%;
    --card-foreground: 204 5% 100%;
    --popover: 208 36% 12%;
    --popover-foreground: 204 5% 100%;
    --primary: 204 87.6% 52.7%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 28% 15%;
    --secondary-foreground: 0 0% 100%;
    --muted: 210 28% 15%;
    --muted-foreground: 204 5% 65%;
    --accent: 210 28% 15%;
    --accent-foreground: 204 5% 95%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 204 5% 100%;
    --border: 205 18% 22%;
    --input: 205 18% 22%;
    --ring: 204 87.6% 52.7%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1 {
    @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
  }

  h2 {
    @apply scroll-m-20  text-3xl font-semibold tracking-tight first:mt-0;
  }

  h3 {
    @apply scroll-m-20 text-2xl font-semibold tracking-tight;
  }

  h4 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight;
  }

  h5 {
    @apply scroll-m-20 text-lg font-semibold tracking-tight;
  }

  h6 {
    @apply scroll-m-20 text-base font-semibold tracking-tight;
  }
}

@layer utilities {
  /* .bg-primary {
    @apply bg-background;
  }

  .bg-primary-muted {
    @apply bg-muted/50 shadow-inner;
  } */

  .inner-layout {
    @apply mx-auto max-w-screen-sm;
  }
}
